h1 {
    font-size: 2.5rem;
    line-height: normal;
    color: red;
}

h2 {
    font-size: 2rem;
    line-height: normal;
    color: blue;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: black;
}